<div class="container">
    <div class="row">    
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Name" [(ngModel)]="name"autocomplete="off" id="Name" placeholder="Name">
                        <label>name:{{name}}</label>
                    </div>
                </div>              
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control textarea" rows="3"  [(ngModel)]="message" name="Message" id="Message" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn" (click)="saveContactUsInfo()" [disabled]="isDisabled()" class="btn main-btn pull-right">Send a message</button>
                </div>
            </div>     
    </div>
</div>